{
    // You can insert line comments like this! They'll be removed
    "user": "username",     // the GitHub username of the user who owns the repo
    "repo": "reponame",     // the name of the repo
    "oauthtoken": "TOKEN",  // your OAuth token for this application
    "path": "path/to/repo",  // the path to the repo we're watching
    "branches": [           // list of branches to watch
        "master", 
        "development",      // trailing commas in lists are also ignored
    ],
    "emails": [             // list of emails to alert 
        "jane@example.org",
        "bob@example.org",
    ],
    "cmds": [               // list of commands to execute in the repo
        {                   // specify the name and a list of arguments
            "name": "make", 
            "args": ["clean"]
        },
        {
            "name": "make",
            "args": ["-j", "4"]
        }
    ],
}

